PORT=5000
MONGO_URI='mongodb+srv://meritshm9:Defence%4021@cluster0.prkeegg.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'
NODE_ENV=development
JWT_SECRET=abac12afsdkjladf
PAYSTACK_SECRET_KEY = "sk_test_xxxxxxxxxxxxxxxxxx"